#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  color: #293264;
  position: relative;
}

/* blobs */
.blob-bottom {
  position: absolute;
  width: 297px;
  height: 235px;
  left: -149px;
  bottom: -50px;
  background-image: url(./assets/blob-1.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.blob-top {
  position: absolute;
  width: 297px;
  height: 235px;
  right: -140px;
  top: -140px;
  background-image: url(./assets/blob-2.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
