#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  color: #293264;
  position: relative;
}

/* blobs */
.blob-bottom {
  position: absolute;
  width: 297px;
  height: 235px;
  left: -149px;
  bottom: -50px;
  background-image: url(./assets/blob-1.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.blob-top {
  position: absolute;
  width: 297px;
  height: 235px;
  right: -140px;
  top: -140px;
  background-image: url(./assets/blob-2.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Trivia Component*/

.trivia--form {
  display: grid;
  flex-direction: column;
  justify-items: left;
  gap: 1em;
}
.trivia--btn {
  width: max-content;
  justify-self: center;
  margin-top: 2em;
}

.trivia--item {
  border-bottom: 2px solid #dbdef0;
}

.trivia--question {
  font-weight: bold;
  margin: 0.5em 0 0.5em;
  padding-bottom: 0;
}

.trivia--answers {
  display: flex;
  margin: 0;
  padding: 1.2em;
  list-style: none;
  gap: 1em;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.trivia--answers input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.trivia--answers label {
  background: #f5f7fb;
  border: 1px solid #4d5b9e;
  border-radius: 12px;
  padding: 0.5em 1em;
  cursor: pointer;
  font-family: "Karla", sans-serif;
}

.trivia--answers input[type="radio"]:checked + label {
  background: #d6dbf5;
  border: none;
}
