:root {
  font-family: "Karla", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #f5f7fb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 2.1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.3em;
  font-weight: normal;
  padding: 0;
  margin: 0.35em 0 1.1em;
}

.btn {
  background: #4d5b9e;
  border: none;
  padding: 1em 2em;
  border-radius: 10px;
  font-size: 1.1em;
  font-family: "Karla", sans-serif;
  color: #f5f7fb;
  font-weight: 600;
  cursor: pointer;
}

.start-container {
  margin: 0 auto;
}
